.introduction{
  font-style:italic;
  text-align:center;
  background-color:grey;
}
.introduction h2{
  font-size:30px;
  color:red;
}
.introduction p{
  font-size:20px;
  color:blue;
}
img.introduction{
  background-color:blue
}
