@media screen (min-width: 320px) and (max-width:767px){
  body{
    border:2px solid black;
    color:white;
  }
}
@media screen (min-width:767px){
  body{
    border:yellowgreen;
  }
  .column{
    width:220px;
    float:left;
    padding:10px;
    margin:10px;
  }
}


.introduction{
  font-style:italic;
  text-align:center;
  background-color:grey;
}
.introduction h2{
  font-size:30px;
  color:red;
}
.introduction p{
  font-size:20px;
  color:blue;
}
img.introduction{
  background-color:blue;
}
